body{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url(close.jpg);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}
.heading{
    position: absolute;
    top: 10%;
    align-items: center;
}
.heading p{
    font-size: 1.4em;
    line-height: 0;
    color: #fff;
}
.heading h2{
    font-size: 4.5em;
    line-height: 0;
    color: #fff;
}
.timer{
    margin: 15px 30px;
    width: 120px;
    background: rgba(0,0,0,0.5);
    align-items: center;
    border-radius: 12px;
    box-shadow: 15px 10px 20px #6660;
    cursor: pointer;
}
.timer P{
    font-size: 45px;
    color: #fff;
    margin: 25px 8px;
}
.timer h6{
    margin: 0;
    padding: 10px;
    font-size: 1em;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 15px 10px 20px #000;
}
.it{
    position: absolute;
    top: 25px;
    font-size: 2.5em;
    color: #fff;

}
@media (max-width:600px) {
    .heading{
        display: flex;
        overflow-wrap: break-word;
    }
}